<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body>

	
	<h1>Hello from ejs!</h1>
    
	

	<script type="text/javascript" src="main.js"></script>
</body>

</html>